@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-comic: 'Comic Neue';
  --font-shantell: "Shantell_Sans";
  background-color: #F5F3F1;
}

.comic {
  font-family: var(--font-comic);
}

.shantell {
  font-family: var(--font-shantell);
}

.neucha {
  font-family: var(--font-neucha);
}